- ways to declare dectionary 
- how to access key value pair
- loops in dictionary
- nested dictionary

In [18]:
student={
    'name':'alice',
    'age': int(input("enter an age")),
    'class': '6th',
    'school':'LPS'
}
print(student)

{'name': 'alice', 'age': 7, 'class': '6th', 'school': 'LPS'}

In [19]:
temp={
    'lucknow':[20,39,40],
    'delhi': [30,35,40],
    'chennai':[25,28,30]
}
print(temp)

{'lucknow': [20, 39, 40], 'delhi': [30, 35, 40], 'chennai': [25, 28, 30]}

In [20]:
info=dict(name="alice", age=78 , city='dubai')
print(info)

{'name': 'alice', 'age': 78, 'city': 'dubai'}

In [21]:
print(student['name'])
print(info['city'])

alice
dubai

In [22]:
student['city']='thailand'
print(student)

{'name': 'alice', 'age': 7, 'class': '6th', 'school': 'LPS', 'city': 'thailand'}

In [ ]:
info=dict(name="alice", age=78 , city='dubai')
print(info.keys())
print(info.values())
print(info.items())

dict_keys(['name', 'age', 'city'])
dict_values(['alice', 78, 'dubai'])
dict_items([('name', 'alice'), ('age', 78), ('city', 'dubai')])

In [24]:
for k,v in info.items():
    print(f'{k}:{v}')

name:alice
age:78
city:dubai

In [16]:
company={
    'emp001': {
     'name':'bob',
     'salary':200000 ,
     'debt':'sales'
    },
'emp002':{
    'name':'smith',
    'salary':30000,
    'debt':'digital marketing'
    },
'emp003':{
    'name':'alice',
    'salary':50000,
    'debt':'IT'
    }
}
print(company)

{'emp001': {'name': 'bob', 'salary': 200000, 'debt': 'sales'}, 'emp002': {'name': 'smith', 'salary': 30000, 'debt': 'digital marketing'}, 'emp003': {'name': 'alice', 'salary': 50000, 'debt': 'IT'}}

In [7]:
from pprint import pprint
pprint(company)

{'emp001': {'debt': 'sales', 'name': 'bob', 'salary': 200000},
 'emp002': {'debt': 'digital marketing', 'name': 'smith', 'salary': 30000},
 'emp003': {'debt': 'IT', 'name': 'alice', 'salary': 50000}}

In [8]:
company['emp002']['salary']

30000

#### calculate the average temperature of delhi in temp dictionary

In [2]:
temp = {
    'Delhi': [34, 36, 38, 37, 35],
    'Mumbai': [30, 31, 29, 32, 30],
    'Kolkata': [33, 34, 32, 31, 30]}
delhi_temp = temp['Delhi']
average_temp = sum(delhi_temp) / len(delhi_temp)
print("average tempearture of delhi",average_temp)

average tempearture of delhi 36.0