### user defined functions
- patrameterized functions 
- non-petrameterized functions
- return functions
- non-return functions
- default patrameterized functions
- lambda functions

### Built in function

In [31]:
def greet():#function initialization
    print('hello')
    print('welcome to the python script!')
    print('goodbye,thankyou')

In [32]:
greet() #function call

hello
welcome to the python script!
goodbye,thankyou

In [ ]:
a=10
b=5
def sum():
    print(a+b)


sum()

In [ ]:
# parameterized funciton

def sum(a,b): #parameters
    print(a+b)

sum(10,20) #arguments

In [66]:
def age(age):
    if age>=18:
        print("you are eligible to vote")
    else:
        print("you are not eligible to vote")


age(20) #function call

you are eligible to vote

In [ ]:
#non return function
def avg(a,b,c):
    print(a+b+c/3)
    

average=avg(10,20,30) #function call
print(average) #this will not print anything because tre function does not return a value

In [ ]:
#return function
def avg(a,b,c):
        return(a+b+c/3)
    

average=avg(10,20,30) #function call
print(average)

In [ ]:
print(average)

- to find a number is odd or even
- to find the number is prime or not
- to find square of a number
- take a list of five numbers and return a new list with square of each number
- take a list of 10 numbers and return a new list with only even number

In [65]:
def even(num):
    if num%2==0:
        print('number is even')
    else:
        print('number is odd')

even(10)

number is even

In [64]:
def prime(num):
    if (num<2):
        print("not a prime ")
    else:
        for i in range(2,num):
            if num%i==0:
                print("number is not prime")
                break
            else:
                print("number is prime")


prime(5)

number is prime
number is prime
number is prime

In [17]:
def square(num):
    a=num**2
    print(a)


square(2)

4

In [22]:
def square_lst(num):
    sqr=[]
    for i in num:
       sqr.append(i**2)
    return(sqr)

square_lst([1,2,3,4,])

[1, 4, 9, 16]

In [59]:
def even(num):
    a=[]
    for i in num:
            a.append(i%2==0)
    print(a)
    
even([1,2,3,4,5,6,7,8,10,9])

[False, True, False, True, False, True, False, True, True, False]

### List comprehension

In [29]:
lst=[1,2,3,4,5]
square=[num**2 for num in lst]

print(square)

[1, 4, 9, 16, 25]

In [28]:
def square_list(numbers):
    return[x**2 for x in numbers]

square_list([1,2,3,4,5])

[1, 4, 9, 16, 25]

In [33]:
def my_country(country='INDIA'):
    return 'I love',country
print(my_country('USA'))
print(my_country('Uk'))
print(my_country())

('I love', 'USA')
('I love', 'Uk')
('I love', 'INDIA')

In [53]:
def square(num):
    return num**2

square(4)

16

#### LAMBDA FUNCTIONS

In [35]:
square=lambda num : num**2
print(square(2))

4

- lambda funciton to check a number is odd 
- lambda function to check a character is vowel or not 
- lambda function to calculate 10% of 2000
- lambda function to calculate a year is leap or not

In [ ]:
odd=lambda num : num%2!=0
print(odd())

True

In [38]:
vowel=lambda ch : ch in 'aeiouAEIOU'
print(vowel('d'))

False

In [58]:
calculate=lambda num : 10/100*num
print(calculate(2000))

200.0

In [51]:
leap=lambda year :(year%4==0) or (year%100==0) or (year%400==0)
print(leap(16))

True